/* :root {
  --main-bg-color: rgb(6, 84, 113);
  --secondary-color: #086e7d;
  --tertiary-color: #fff89a; 
--primary-color: rgb(255, 192, 69);

rgb(25, 25, 25)
rgb(45, 66, 99)
rgb(200, 75, 49)
rgb(236, 219, 186)

*/

:root {
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);

  --primary-color: #2d4263;
  --secondary-color: rgb(200, 75, 49);
  --tertiary-color: #fff89a;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
  background-color: var(--white-color);
}

body {
  font-size: 1.7rem;
  width: 100%;
  margin: 2rem auto;
  background-color: var(--white-color);
}

footer {
  text-align: center;
  background-color: #2d4263;
  color: var(--tertiary-color);
  bottom: 0px;
  width: 100%;
}

/* .dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: red;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out;
  transform: 150ms ease-in-out;
}

.dropdown > .sort:focus ~ .dropdown-menu {
  opacity: 1;
} */
