header {
  background-color: var(--white-color);
  border-bottom: 3px solid var(--primary-color);
}

.nav {
  height: 13vh;
  width: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  height: 100%;
  width: 20rem;
  min-width: 10rem;
  color: white;
  background-image: url("../../../assets/images/movieWeb_logo.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__search {
  width: 80rem;
  height: 5rem;
  margin-left: 5rem;
  display: flex;
  align-items: flex-start;
  border: 3px solid var(--primary-color);
  cursor: pointer;
}

/* do poprawy nazwa, to nie jest modifier  */
.nav__search--icon {
  padding: 0.4rem;
  margin: auto;
  height: 80%;
  background-color: white;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.nav__search--input {
  width: 100%;
  font-size: 2rem;
  background-color: var(--white-color);
  border: 0px solid;
  outline: none;
  margin: auto;
  padding-left: 1rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.btn {
  height: 5rem;
  padding: 0.5rem;
  margin-left: 2rem;
  border: 1px solid rgb(227, 227, 227);
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  line-height: 1.15;
  font-size: 16px;
  color: var(--black-color);
  text-transform: uppercase;
}

button.get-popular-btn {
  background: #c84b31e6;
  min-width: 130px;
}
button.get-popular-btn:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #2d4263;
  text-transform: var(--white-color);
  color: var(--white-color);
}

.sort {
  background-color: var(--tertiary-color);
  padding: 16px;
  width: 100%;
  font-size: 16px;
  border: none;
}
.sort:hover {
  color: var(--secondary-color);
  background-color: rgb(255, 248, 154, 0.9);
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #2d4263;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  margin-top: 0.7rem;
  text-decoration: none;
  background-color: var(--tertiary-color);
  display: block;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 1200px) {
  .btn {
    display: none;
  }
}

@media (max-width: 940px) {
}
