/* :root {
  --main-bg-color: rgb(6, 84, 113);
  --secondary-color: #086e7d;
  --tertiary-color: #fff89a; 
--primary-color: rgb(255, 192, 69);

rgb(25, 25, 25)
rgb(45, 66, 99)
rgb(200, 75, 49)
rgb(236, 219, 186)

*/

:root {
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);

  --primary-color: rgb(45, 66, 99);
  --secondary-color: rgb(200, 75, 49);
  --tertiary-color: rgb(255, 248, 154);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
  background-color: var(--black-color);
}

body {
  font-size: 1.7rem;
  width: 100%;
  margin: 2rem auto;
  background-color: var(--black-color);
}

header {
  background-color: var(--black-color);
}

.nav {
  height: 13vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  height: 100%;
  width: 10rem;
  background-image: url(./src/images/HatchfulExport/linkedin_profile_image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__search {
  width: 50rem;
  height: 3rem;
  margin-left: 5rem;
  display: flex;
  align-items: flex-start;
}

.nav__search--icon {
  height: 3rem;
  padding: 0.4rem;
  background-color: white;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.nav__search--input {
  width: 100%;
  height: 3rem;
  background-color: var(--white-color);
  border: 0px solid;
  outline: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.nav .btn {
  padding: 0.5rem;
  margin-left: 2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

button.get-popular-btn {
  color: var(--black-color);
  background-color: var(--secondary-color);
}

button.get-popular-btn:hover {
  color: var(--white-color);
  background-color: rgb(200, 75, 49, 0.9);
}

button.search-btn {
  text-transform: uppercase;
  background-color: var(--tertiary-color);
}
button.search-btn:hover {
  color: var(--secondary-color);
  background-color: rgb(255, 248, 154, 0.9);
}

.movie-list {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-element {
  margin: 0.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-color);

  border-bottom: none;
  cursor: pointer;
}
.movie-element:hover {
  background-color: var(--tertiary-color);
}

.movie-vote {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  color: var(--primary-color);
  pointer-events: none;
}

.movie-title {
  font-weight: 600;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: var(--black-color);
  pointer-events: none;
}

.movie-poster {
  width: 100%;
  pointer-events: none;
}

.movie-overview {
  display: none;
}

/* modal */

.modal-description {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  background-color: var(--white-color);
  border: solid 2px var(--primary-color);
  border-radius: 15px;
  width: 40%;
  display: none;
}

.active {
  display: block;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.6;
}

.modal-title {
  margin: 0 3rem 0 1rem;
}
.modal-text {
  margin-top: 1rem;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 2%;
  padding: 0;
  transition: transform 0.25s, opacity 0.25s;
  opacity: 1;
  background-color: transparent;
  color: rgb(200, 75, 49);
  cursor: pointer;
  font-size: 4rem;
  font-family: serif;
  line-height: 1;
  border: none;
  outline: none;
  margin: 1rem;
}
.close-btn:before {
  content: "\d7";
}
.close-btn:hover {
  opacity: 1;
  transform: rotate(90deg);
}
